// primary-colors
$bg-color: #181719;
$light-gray: hsl(0, 0%, 95%);
$grey-2: hsl(0, 0%, 51%);
$white: hsl(0, 0%, 100%);

// font-weights
$font-weights: (
  "extra-light": 200,
  "regular": 400,
  "medium": 500,
  "bold": 700
);